<section class="content-header">

  <section class="content">
    <form #formPesquisa="ngForm" novalidate>

    <div class="col-sm-3 col-xs-6">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Nome</label>
        <input type="text" class="form-control" #nomePesquisa id="inputNomePesquisa" placeholder="Nome">
      </div>
    </div>

    <div class="col-sm-2 col-xs-6">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> CPF</label>
        <input type="text" class="form-control" #cpfPesquisa id="inputCpfPesquisa"  placeholder="CPF">
      </div>
    </div>

    <div class="col-sm-2 col-xs-6">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> RG</label>
        <input type="text" class="form-control" #rgPesquisa id="inputRgPesquisa"  placeholder="RG">
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> e-mail</label>
        <input type="text" class="form-control" #emailPesquisa id="inputEmailPesquisa"  placeholder="e-mail">
      </div>
    </div>

    <div class="col-sm-1 col-xs-2">
      <button (click)="getMoradores(nomePesquisa.value, rgPesquisa.value, cpfPesquisa.value, emailPesquisa.value)" class="btn btn-success pull-right"><i></i> Pesquisar
      </button>
    </div>

    <section class="content">
      <table class="table-striped">
          <thead>
            <tr>
              <th style="width: 6px;" scope="col"></th>
              <th class="pointer" scope="col" [appSort]="moradores" data-order="desc" data-name="id">ID</th>
              <th class="pointer" scope="col" [appSort]="moradores" data-order="desc" data-name="nome">Nome</th>
              <th class="pointer" scope="col" [appSort]="moradores" data-order="desc" data-name="email">E-mail</th>
              <th class="pointer" scope="col" [appSort]="moradores" data-order="desc" data-name="cpf" >CPF</th>
              <th class="pointer" scope="col" [appSort]="moradores" data-order="desc" data-name="rg">RG</th>
              <th class="pointer" scope="col" [appSort]="moradores" data-order="desc" data-name="telefone">Telefone</th>
              <th class="pointer" scope="col" [appSort]="moradores" data-order="desc" data-name="celular">Celular</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let morador of moradores | paginate: { itemsPerPage: contador, currentPage: pag }">
              <td style="width: 1%" class="textCenter" ><img *ngIf="morador.associado == 1" class="img" src="assets/img/balls/verde.png">
                                      <img *ngIf="morador.associado != 1" class="img" src="assets/img/balls/vermelho.png"></td>
              <td style="width: 6%" class="textCenter"><div class="pointer" (click)="getIdMorador(morador.id)">{{ formatId(morador.id, 6) }}</div></td>
              <td style="width: 30%"><div class="pointer" (click)="getIdMorador(morador.id)">{{ morador.nome.toUpperCase() }}</div></td>
              <td style="width: 25%"><div class="pointer" (click)="getIdMorador(morador.id)">{{ morador.email.toLowerCase() }}</div></td>
              <td style="width: 10%" class="textCenter"><div class="pointer" (click)="getIdMorador(morador.id)">{{ formatCPF(morador.cpf) }}</div></td>
              <td style="width: 8%" class="textCenter"><div class="pointer" (click)="getIdMorador(morador.id)">{{ morador.rg }}</div></td>
              <td style="width: 10%" class="textCenter"><div class="pointer" (click)="getIdMorador(morador.id)">{{ formatTelefone(morador.telefone) }}</div></td>
              <td style="width: 10%" class="textCenter"><div class="pointer" (click)="getIdMorador(morador.id)">{{ formatCelular(morador.celular) }}</div></td>
            </tr>
          </tbody>
        </table>

      <!--inclindo o controle de paginação.-->
      <div style="padding: 20px;">
        <div class="text-right">
          <pagination-controls class="pointer" (pageChange)="pageChanged($event)"
              previousLabel="Anterior"
              nextLabel="Próximo"
          ></pagination-controls>
        </div>
      </div>

    </section>
    </form>
  </section>
</section>
