<section class="content-header">

  <section class="content">

  <form #form="ngForm" novalidate>

    <div class="col-sm-4 col-xs-6">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Descrição</label>
        <input type="text" class="form-control" #descricaoPesquisa id="inputDescricaoPesquisa"  placeholder="Descrição">
      </div>
    </div>

    <div class="col-sm-4 col-xs-6">
      <div class="form-group">
        <div class="col-sm-12 col-xs-6">
          <select #idModulo
              required
              placeholder="Módulo"
              name="idModulo"
              id="idModulo"
              class="form-control"
              ngModel="0">
              <option [value]="0"> TODOS </option>
              <option *ngFor="let item of modulos" [value]="item.id" >{{ item.descricao.toUpperCase() }}</option>
          </select>
        </div>

      </div>
    </div>

    <div class="col-sm-1 col-xs-2">
      <button (click)="getFuncionalidades(null, idModulo.value, descricaoPesquisa.value, null)" class="btn btn-success pull-right"><i></i> Pesquisar
      </button>
    </div>

    <section class="content">
        <table class="table-striped">
          <thead>
            <tr>
                <th><span>ID</span></th>
                <th>Descrição</th>
                <th>Path</th>
                <th>Posição</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let funcionalidade of funcionalidades | paginate: { itemsPerPage: contador, currentPage: pag }">
              <td style="width: 10%" class="textCenter" (click)="editFuncionalidade(funcionalidade.id)"><div class="pointer">{{ formatId(funcionalidade.id, 6) }}</div></td>
              <td style="width: 40%"><div class="pointer" (click)="editFuncionalidade(funcionalidade.id)">{{ funcionalidade.descricao.toUpperCase() }}</div></td>
              <td style="width: 40%"><div class="pointer" (click)="editFuncionalidade(funcionalidade.id)">{{ funcionalidade.pathFuncionalidade.toLowerCase() }}</div></td>
              <td style="width: 10%"><div class="pointer" (click)="editFuncionalidade(funcionalidade.id)">{{ posicaoDescricao(funcionalidade.posicao) }}</div></td>
            </tr>
          </tbody>
        </table>

        <!--inclindo o controle de paginação.-->
        <div style="padding: 20px;">
          <div class="text-right">
            <pagination-controls class="pointer" (pageChange)="pageChanged($event)"
              previousLabel="Anterior"
              nextLabel="Próximo"></pagination-controls>
          </div>
        </div>

    </section>
   </form>
  </section>
</section>

