<div class="form-group">

  <div class="modal-footer" >
    <button type="button" class="btn btn-secondary" (click)="open('customModal')" data-dismiss="modal"> Instruções de Preenchimento </button>
   </div>

  <div *ngIf="errorsList.length > 0" class="alert alert-warning">
    <div *ngFor="let item of errorsList">
      <strong >Atenção! </strong>{{ item }}
    </div>
  </div>

  <br>
  <form #formEdit="ngForm" [formGroup]="uploadForm">

    <section class="invoice">
      <div>
        <input required #file ngModel type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
    </section>
    <br>
    <section class="invoice">
      <div>

        <button style="width: 100px" [disabled]="loading" [disabled]="!uploadForm.valid" type="button" class="btn btn-success pull-left" (click)="onSubmit()">
          <div *ngIf="!loading">Importar</div>
          <div *ngIf="loading">Importando...</div>
        </button>

        <button (click)="cancelar()" class="btn btn-primary pull-left"><i></i> Cancelar
        </button>
      </div>
    </section>

        <!--Fim do Form de Edição-->
        <section *ngIf="contribuicoes.length > 0" class="invoice">

          <div class="col-xs-12">
            <p class="control-label"><b>Registros importados:</b></p>
          </div>
          <table class="table-striped">
            <thead>
              <tr>
                  <th>ID</th>
                  <th>Morador</th>
                  <th>CPF</th>
                  <th>Data Pagamento</th>
                  <th>Valor</th>
                  <th>Residencia</th>
                </tr>
              </thead>
            <tbody>
              <tr *ngFor="let item of contribuicoes | paginate: { itemsPerPage: contador, currentPage: pag }">
                <td class="textCenter"><div>{{ formatId(item.id, 6) }}</div></td>
                <td><div>{{ item.nome }}</div></td>
                <td class="textCenter"><div>{{ formatCPF(item.cpf) }}</div></td>
                <td class="textCenter"><div>{{ item.dataPagamento }}</div></td>
                <td class="text-right"><div>{{ item.valor }}</div></td>
                <td><div>{{ item.endereco }}</div></td>
              </tr>
            </tbody>
          </table>
          <!--inclindo o controle de paginação.-->
          <div style="padding: 20px;">
            <div class="text-right">
              <pagination-controls class="pointer" (pageChange)="pageChanged($event)"
                previousLabel="Anterior"
                nextLabel="Próximo">
              </pagination-controls>
            </div>
          </div>

        </section>

  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="customModal" #customModal2 tabindex="-1" role="dialog" aria-labelledby="custoModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customModal2Label">
          <strong style="font-size: 20px;">Padrão de preenchimento do Arquivo</strong>
        </h5>
      </div>
      <div class="modal-body">

        <div>
            <p>
            <div>
              <p>
                Linha 1: Cabeçalho do arquivo. Exemplo: | cpf | dataPagamento | valor |
              </p>
              <p>
                Coluna A, Linha 2 (cpf): CPF formatado ou não formatado. Exemplo: 23456789034 ou 234.567.890-34
              </p>
              <p>
                Coluna B, Linha 2 (dataPagamento): Data do no formato dd/MM/yyyy. Exemplo: 23/09/2020
              </p>
              <p>
                Coluna C, Linha 2 (valor): Valor no formato decimal com separador de decimais com virgula. Exemplo: 23,50
              </p>
              <p>
                Coluna D, Linha 2 (documento): Número do documento constante no boleto. Não obrigatório.
              </p>
              <p>
                <strong>Atenção: </strong> As células do arquivo não podem conter fórmulas, antes enviar o arquivo para importação retire as!
              </p>
            </div>
        </div>

      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fechar </button>
      </div>
    </div>
  </div>
</div>
