<section  class="content">

  <!--Inicio Form de Edição-->
  <section *ngIf="acao==='edit'" class="invoice" >

    <div *ngFor="let erro of erros" class="alert alert-warning">
      <strong>Atenção! </strong>{{ erro.detalhe }}
    </div>

      <form #formEdit="ngForm" novalidate *ngFor="let veiculo of veiculos" >

        <label class="labelPagina">
          {{title}} >> <u>Atualização</u>
        </label>

        <div class="row invoice-info">
          <div class="col-sm-2 col-xs-6">
            <input  class="form-control" type="hidden" [(ngModel)]="veiculo.id"  #id name="id" maxlength="11" placeholder="Código" pattern="^[0-9]*$" autocomplete="off">
          </div>

          <div class="col-xs-12">
            <p class="control-label"> Placa: </p>
          </div>
          <div  class="col-sm-2 col-xs-6">
            <app-input-container errorMessage="Campo obrigatório!" label="Nome">
              <input class="form-control" type="text" mask="AAA-AAAA" [(ngModel)]="veiculo.placa" disabled #placa name="placa" required maxlength="8" placeholder="Placa" autocomplete="off">
            </app-input-container>
          </div>

          <div class="col-xs-12">
            <p class="control-label"> Marca: </p>
          </div>
          <div  class="col-sm-6 col-xs-12">
            <app-input-container errorMessage="Campo obrigatório!" label="Marca">
              <input class="form-control" type="text" [(ngModel)]="veiculo.marca" (ngModelChange)="veiculos.marca=$event.toUpperCase()" required #marca name="marca" minlength="2" maxlength="50" placeholder="Marca" autocomplete="off">
            </app-input-container>
          </div>

          <div class="col-xs-12">
            <p class="control-label"> Modelo: </p>
          </div>
          <div  class="col-sm-6 col-xs-12">
            <app-input-container errorMessage="Campo obrigatório!" label="Modelo">
              <input class="form-control" type="text" [(ngModel)]="veiculo.modelo" (ngModelChange)="veiculos.modelo=$event.toUpperCase()" required #modelo name="modelo" maxlength="50" placeholder="Modelo" autocomplete="off">
            </app-input-container>
          </div>

          <div class="col-xs-12">
            <p class="control-label"> Cor: </p>
          </div>
          <div  class="col-sm-4 col-xs-12">
            <app-input-container label="Cor">
              <input class="form-control" type="text" [(ngModel)]="veiculo.cor" (ngModelChange)="veiculos.cor=$event.toUpperCase()" required #cor name="cor" maxlength="20" placeholder="Cor" autocomplete="on">
            </app-input-container>
          </div>

          <div class="col-xs-12">
            <p class="control-label">Ano:</p>
          </div>
          <div class="col-sm-2 col-xs-6">
            <input class="form-control" name="ano" #ano [(ngModel)]="veiculo.ano" ngModel maxlength="4" placeholder="Ano" pattern="^[0-9]*$" autocomplete="off">
          </div>

          <div class="col-xs-12">
            <p class="control-label"> Situação: </p>
          </div>
          <div class="col-sm-2 col-xs-6">
            <select
                name="posicao"
                id="posicao"
                class="form-control"
                [(ngModel)]="veiculo.posicao">
                <option *ngFor="let situacao of situacaoCadastral" [value]="situacao.id">{{ situacao.label }}</option>
            </select>
          </div>
        </div>
        <div *ngIf="!create">
          <div class="row">
              <div class="col-xs-12">
                <button *ngIf="perfil.alteracao" (click)="putVeiculo(formEdit.value, id.value)" class="btn btn-success pull-right"
                [disabled]="!formEdit.valid"><i></i> Atualizar
                </button>
                <button (click)="cancelar()" class="btn btn-primary pull-right"><i></i> Cancelar
                </button>
              </div>
          </div>
        </div>

      </form>

    <!--Fim Invoice-->
  </section>

  <section *ngIf="acao==='edit'" class="invoice">

      <div class="col-xs-12">
        <p class="control-label"><b>Visitantes vinculados:</b></p>
      </div>
      <table class="table-striped">
        <thead>
          <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>RG</th>
              <th>Celular</th>
              <th>Endereço</th>
              <th>Número</th>
              <th>Cidade</th>
              <th>UF</th>
            </tr>
          </thead>
        <tbody *ngFor="let veiculo of veiculos">
          <tr *ngFor="let visitante of veiculo.visitantes | paginate: { itemsPerPage: contador, currentPage: pag }">
            <td><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.nome.toUpperCase() }}</div></td>
            <td class="textCenter"><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.cpf }}</div></td>
            <td class="textCenter"><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.rg }}</div></td>
            <td class="textCenter"><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.celular }}</div></td>
            <td ><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.endereco.toUpperCase() }}</div></td>
            <td class="textCenter"><div class="pointer" (click)="editVisitante(residencia.id)">{{ visitante.numero }}</div></td>
            <td><div class="pointer" (click)="editVisitante(residencia.id)">{{ visitante.cidade.toUpperCase() }}</div></td>
            <td class="textCenter"><div class="pointer" (click)="editVisitante(residencia.id)">{{ visitante.uf.toUpperCase() }}</div></td>
          </tr>
        </tbody>
      </table>

      <!--inclindo o controle de paginação.-->
      <div style="padding: 20px;">
        <div class="text-right">
          <pagination-controls class="pointer" (pageChange)="pageChanged($event)"
            previousLabel="Anterior"
            nextLabel="Próximo">
          </pagination-controls>
        </div>
      </div>

  </section>

  <!--Inicio do Form de Inclusão-->
  <section *ngIf="acao==='create'" class="invoice">

      <div *ngFor="let erro of erros" class="alert alert-warning">
        <strong>Atenção! </strong>{{ erro.detalhe }}
      </div>

        <form #formCreate="ngForm" novalidate>

          <label class="labelPagina">
            {{title}} >> <u>Inclusão</u>
          </label>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="control-label">Placa:</p>
            </div>
            <div class="col-sm-2 col-xs-6">
              <app-input-container errorMessage="Campo obrigatório com mínimo 8 caracteres" label="Placa">
                <input class="form-control" name="placa" mask="AAA-AAAA" #placa (ngModelChange)="placa.value=$event.toUpperCase()"  ngModel required maxlength="8" placeholder="Placa" autocomplete="off">
              </app-input-container>
            </div>

            <div class="col-xs-12">
              <p class="control-label"> Marca: </p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <input class="form-control" name="marca" #marca (ngModelChange)="marca.value=$event.toUpperCase()" ngModel maxlength="50" placeholder="Marca" autocomplete="off">
            </div>

            <div class="col-xs-12">
              <p class="control-label"> Modelo: </p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <app-input-container errorMessage="Campo obrigatório" label="Modelo">
                <input class="form-control" name="modelo" #modelo (ngModelChange)="modelo.value=$event.toUpperCase()" ngModel required maxlength="50" placeholder="Modelo" autocomplete="off">
              </app-input-container>
            </div>

            <div class="col-xs-12">
              <p class="control-label"> Cor: </p>
            </div>
            <div class="col-sm-4 col-xs-12">
              <app-input-container label="Cor">
                <input class="form-control" name="cor" #cor (ngModelChange)="cor.value=$event.toUpperCase()"  ngModel maxlength="20" placeholder="Cor" autocomplete="on">
              </app-input-container>
            </div>

            <div class="col-xs-12">
              <p class="control-label"> Ano:</p>
            </div>
            <div class="col-sm-2 col-xs-6">
              <app-input-container label="Ano">
                <input class="form-control" name="ano" #ano  ngModel maxlength="4" placeholder="Ano" autocomplete="on">
              </app-input-container>
            </div>

            <div *ngIf="acao==='novo'" class="col-sm-2 col-xs-6">
              <app-input-container errorMessage="Campo obrigatório e somente números" label="Código Visitante">
                <input class="form-control" type="hidden" name="ticketVisitante" minlength="1" placeholder="Código Visitante" autocomplete="off">
                <input class="form-control" type="hidden" name="visitanteId" [(ngModel)]="codigo" minlength="1" placeholder="Código Visitante" autocomplete="off">
              </app-input-container>
            </div>

            <div *ngIf="acao==='amqp'" class="col-sm-2 col-xs-6">
              <app-input-container errorMessage="Campo obrigatório e somente números" label="Código Visitante">
                <input class="form-control" type="hidden" name="ticketVisitante" [(ngModel)]="codigo" minlength="1" placeholder="Código Visitante" autocomplete="off">
                <input class="form-control" type="hidden" name="visitanteId" minlength="1" placeholder="Código Visitante" autocomplete="off">
              </app-input-container>
            </div>

          <!-- /.row -->
          </div>

          <div>
            <div class="row">
              <div class="col-xs-12">
                <button class="pointer" *ngIf="perfil.inclusao" (click)="postVeiculoAmqp(formCreate.value)" class="btn btn-success pull-right"
                  [disabled]="!formCreate.valid"><i></i> Salvar
                </button>
                <button (click)="cancelar()" class="btn btn-primary pull-right"><i></i> Cancelar
                </button>
              </div>
            </div>
          </div>

          <div style="height: 34px;">

          </div>

        </form>

  <!--Fim do Form de Inclusão-->
  </section>

  <!--Inicio Form de Visualização-->
  <section *ngIf="acao==='view'" class="invoice" >

      <div *ngFor="let erro of erros" class="alert alert-warning">
        <strong>Atenção! </strong>{{ erro.detalhe }}
      </div>
  
        <form #formEdit="ngForm" novalidate *ngFor="let veiculo of veiculos" >
  
          <label class="labelPagina">
            {{title}} >> <u>Visualização</u>
          </label>
  
          <div class="row invoice-info">
            <div class="col-sm-2 col-xs-6">
              <input  class="form-control" type="hidden" [(ngModel)]="veiculo.id"  #id name="id" maxlength="11" placeholder="Código" pattern="^[0-9]*$" autocomplete="off">
            </div>
  
            <div class="col-xs-12">
              <p class="control-label"> Placa: </p>
            </div>
            <div  class="col-sm-2 col-xs-6">
              <app-input-container errorMessage="Campo obrigatório!" label="Nome">
                <input class="form-control" type="text" mask="AAA-AAAA" [(ngModel)]="veiculo.placa" disabled #placa name="placa" required maxlength="8" placeholder="Placa" autocomplete="off">
              </app-input-container>
            </div>
  
            <div class="col-xs-12">
              <p class="control-label"> Marca: </p>
            </div>
            <div  class="col-sm-6 col-xs-12">
              <app-input-container errorMessage="Campo obrigatório!" label="Marca">
                <input class="form-control" type="text" [(ngModel)]="veiculo.marca" disabled (ngModelChange)="veiculos.marca=$event.toUpperCase()" required #marca name="marca" minlength="2" maxlength="50" placeholder="Marca" autocomplete="off">
              </app-input-container>
            </div>
  
            <div class="col-xs-12">
              <p class="control-label"> Modelo: </p>
            </div>
            <div  class="col-sm-6 col-xs-12">
              <app-input-container errorMessage="Campo obrigatório!" label="Modelo">
                <input class="form-control" type="text" [(ngModel)]="veiculo.modelo" disabled (ngModelChange)="veiculos.modelo=$event.toUpperCase()" required #modelo name="modelo" maxlength="50" placeholder="Modelo" autocomplete="off">
              </app-input-container>
            </div>
  
            <div class="col-xs-12">
              <p class="control-label"> Cor: </p>
            </div>
            <div  class="col-sm-4 col-xs-12">
              <app-input-container label="Cor">
                <input class="form-control" type="text" [(ngModel)]="veiculo.cor" disabled (ngModelChange)="veiculos.cor=$event.toUpperCase()" required #cor name="cor" maxlength="20" placeholder="Cor" autocomplete="on">
              </app-input-container>
            </div>
  
            <div class="col-xs-12">
              <p class="control-label">Ano:</p>
            </div>
            <div class="col-sm-2 col-xs-6">
              <input class="form-control" name="ano" #ano [(ngModel)]="veiculo.ano" disabled ngModel maxlength="4" placeholder="Ano" pattern="^[0-9]*$" autocomplete="off">
            </div>
  
            <div class="col-xs-12">
              <p class="control-label"> Situação: </p>
            </div>
            <div class="col-sm-2 col-xs-6">
              <select
                  disabled
                  name="posicao"
                  id="posicao"
                  class="form-control"
                  [(ngModel)]="veiculo.posicao">
                  <option *ngFor="let situacao of situacaoCadastral" [value]="situacao.id">{{ situacao.label }}</option>
              </select>
            </div>
          </div>
          <div *ngIf="acao==='view'">
            <div class="row">
                <div class="col-xs-12">
                  <button *ngIf="perfil.alteracao" (click)="editVeiculo(id.value)" class="btn btn-success pull-right"><i></i> Editar
                  </button>
                  <button (click)="cancelar()" class="btn btn-primary pull-right"><i></i> Cancelar
                  </button>
                </div>
            </div>
          </div>
  
        </form>
  
      <!--Fim Invoice-->
    </section>
  
    <section *ngIf="acao==='view'" class="invoice">
  
        <div class="col-xs-12">
          <p class="control-label"><b>Visitantes vinculados:</b></p>
        </div>
        <table class="table-striped">
          <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Celular</th>
                <th>Endereço</th>
                <th>Número</th>
                <th>Cidade</th>
                <th>UF</th>
              </tr>
            </thead>
          <tbody *ngFor="let veiculo of veiculos">
            <tr *ngFor="let visitante of veiculo.visitantes | paginate: { itemsPerPage: contador, currentPage: pag }">
              <td><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.nome.toUpperCase() }}</div></td>
              <td class="textCenter"><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.cpf }}</div></td>
              <td class="textCenter"><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.rg }}</div></td>
              <td class="textCenter"><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.celular }}</div></td>
              <td ><div class="pointer" (click)="editVisitante(visitante.id)">{{ visitante.endereco.toUpperCase() }}</div></td>
              <td class="textCenter"><div class="pointer" (click)="editVisitante(residencia.id)">{{ visitante.numero }}</div></td>
              <td><div class="pointer" (click)="editVisitante(residencia.id)">{{ visitante.cidade.toUpperCase() }}</div></td>
              <td class="textCenter"><div class="pointer" (click)="editVisitante(residencia.id)">{{ visitante.uf.toUpperCase() }}</div></td>
            </tr>
          </tbody>
        </table>
  
        <!--inclindo o controle de paginação.-->
        <div style="padding: 20px;">
          <div class="text-right">
            <pagination-controls class="pointer" (pageChange)="pageChanged($event)"
              previousLabel="Anterior"
              nextLabel="Próximo">
            </pagination-controls>
          </div>
        </div>
  
    </section>

 <!--Fim da Content-->
 </section>










