<section class="content-header">
  <section class="content">

    <div *ngFor="let erro of erros" class="alert alert-warning">
      <strong>Atenção! </strong>{{ erro.detalhe }}
    </div>
  <label class="labelPagina">
      {{title}}
  </label>
  <form #form="ngForm" novalidate>
    <input type="hidden" #ord value="{{ordenar}}">
    <input type="hidden" #dir value="{{direction}}">

    <div class="col-sm-3 col-xs-3">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Nome</label>
        <input type="text" class="form-control" #nomePesquisa id="inputNomePesquisa"  placeholder="Nome">
      </div>
    </div>

    <div class="col-sm-2 col-xs-2">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> RG</label>
        <input type="text" class="form-control" #rgPesquisa id="inputRgPesquisa"  placeholder="RG">
      </div>
    </div>

    <div class="col-sm-2 col-xs-2">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Data Início</label>
        <input type="text" mask="00/00/0000" class="form-control" #dataInicio id="dataInicio"  placeholder="Data Início">
      </div>
    </div>

    <div class="col-sm-2 col-xs-2">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Data Fim</label>
        <input type="text" mask="00/00/0000" class="form-control" #dataFim id="dataFim"  placeholder="Data Fim">
      </div>
    </div>

    <div class="col-sm-2 col-xs-2">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Situação</label>
        <select #posicaoPesquisa
            name="posicao"
            id="posicao"
            class="form-control"
            [(ngModel)]="posicaoDefault">
            <option *ngFor="let situacao of situacaoVisita" [value]="situacao.id">{{ situacao.label.toUpperCase() }}</option>
        </select>
      </div>
    </div>

    <div class="col-sm-1 col-xs-2">
      <button (click)="getVisitas(nomePesquisa.value, rgPesquisa.value, null, dataInicio.value, dataFim.value, posicaoPesquisa.value, ord.value, dir.value)" class="btn btn-success pull-right"><i></i> Pesquisar
      </button>
    </div>

    <section class="content">
        <table class="table-striped" >
          <thead>
            <tr>
                <th style="width: 2%;" scope="col"></th>
                <th style="width: 20%;" scope="col" [appSort]="visitas" data-order="desc" data-name="nome"><div class="pointer" >Visitante</div></th>
                <th style="width: 7%;" scope="col">RG</th>
                <th style="width: 7%;" scope="col" [appSort]="visitas" data-order="desc" data-name="placa" ><div class="pointer" >Placa</div></th>
                <th style="width: 6,5%;" scope="col" [appSort]="visitas" data-order="desc" data-name="dataEntrada"><div class="pointer" >Data Entrada</div></th>
                <th style="width: 6,5%;" scope="col" [appSort]="visitas" data-order="desc" data-name="horaEntrada"><div class="pointer" >Hora Entrada</div></th>
                <th style="width: 6,5%;" scope="col" [appSort]="visitas" data-order="desc" data-name="dataSaida"><div class="pointer" >Data Saída</div></th>
                <th style="width: 6,5%;" scope="col" [appSort]="visitas" data-order="desc" data-name="horaSaida"><div class="pointer" >Hora Saída</div></th>
                <th style="width: 22%;"  scope="col" [appSort]="visitas" data-order="desc" data-name="endereco"><div class="pointer"  >Endereço de Visita</div></th>
                <th style="width: 5%;" scope="col" [appSort]="visitas" data-order="desc" data-name="numero"><div class="pointer" >Número</div></th>
                <th style="width: 6%;" scope="col">Encerrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let visita of visitas | paginate: { itemsPerPage: contador, currentPage: pag }">
              <td class="textCenter" ><img *ngIf="visita.posicao == 0" class="img" src="assets/img/balls/verde.png">
                                      <img *ngIf="visita.posicao != 0" class="img" src="assets/img/balls/amarelo.png"></td>
              <td ><div>{{ visita.nome.toUpperCase() }}</div></td>
              <td class="textCenter"><div>{{ visita.rg }}</div></td>
              <td class="textCenter"><div>{{ visita.placa.toUpperCase() }}</div></td>
              <td class="textCenter"><div>{{ visita.dataEntrada }}</div></td>
              <td class="textCenter"><div>{{ visita.horaEntrada }}</div></td>
              <td class="textCenter"><div>{{ visita.dataSaida }}</div></td>
              <td class="textCenter"><div>{{ visita.horaSaida }}</div></td>
              <td ><div>{{ visita.endereco.toUpperCase() }}</div></td>
              <td class="textCenter"><div>{{ visita.numero }}</div></td>
              <td class="textCenter">
                <div *ngIf="visita.posicao == 1 && !loading" class="pointer" (click)="open('customModal1', visita)"> Encerrar</div>
                <div *ngIf="visita.posicao == 1 && loading"><img class="img" src="assets/img/loader/icons8-loading-20.png"></div>
                <div *ngIf="visita.posicao == 0"><img class="img"></div>
              </td>
            </tr>
          </tbody>
        </table>

        <!--inclindo o controle de paginação.-->
        <div style="padding: 20px;">
          <div class="text-right">
            <pagination-controls class="pointer" (pageChange)="pageChanged($event)"
              previousLabel="Anterior"
              nextLabel="Próximo"></pagination-controls>
          </div>
        </div>

      </section>
    </form>
   </section>
 </section>

 <!-- Modal -->
<div class="modal fade" id="customModal1" #customModal1 tabindex="-1" role="dialog" aria-labelledby="custoModal1Label" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customModal1Label"><strong>Confirmação!</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning">
          <b>Confirma o encerramento da visita?</b>
        </div>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="baixarVisita(visita.id, nomePesquisa.value, rgPesquisa.value, null, dataInicio.value, dataFim.value)">Prosseguir</button>
       </div>
    </div>
  </div>
</div>

