<section class="content-header">

  <section class="content">

  <form #form="ngForm" novalidate>

    <div class="col-sm-2 col-xs-4">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Data Início</label>
        <input type="text" mask="00/00/0000" class="form-control" #dataInicio id="dataInicio"  placeholder="Data Início">
      </div>
    </div>

    <div class="col-sm-2 col-xs-4">
      <div class="form-group">
        <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Data Fim</label>
        <input type="text" mask="00/00/0000" class="form-control" #dataFim id="dataFim"  placeholder="Data Fim">
      </div>
    </div>

    <div class="col-sm-4 col-xs-6">
      <div class="form-group">
        <div class="col-sm-12 col-xs-6">
          <select #moradorId
              required
              placeholder="Morador"
              name="moradorId"
              id="moradorId"
              class="form-control"
              ngModel="0">
              <option [value]="0"> TODOS </option>
              <option *ngFor="let item of moradores" [value]="item.id" >{{ item.nome.toUpperCase() }}</option>
          </select>
        </div>

      </div>
    </div>

    <div class="col-sm-1 col-xs-2">
      <button (click)="getContribuicoes(dataInicio.value, dataFim.value, moradorId.value)" class="btn btn-success pull-right"><i></i> Pesquisar
      </button>
    </div>

    <section class="content">

          <table class="table-striped">
            <thead>
              <tr>
                  <th class="pointer" scope="col" [appSort]="contribuicoes" data-order="desc" data-name="id">ID</th>
                  <th class="pointer" scope="col" [appSort]="contribuicoes" data-order="desc" data-name="nome">Morador</th>
                  <th class="pointer" scope="col" [appSort]="contribuicoes" data-order="desc" data-name="cpf">CPF</th>
                  <th class="pointer" scope="col" [appSort]="contribuicoes" data-order="desc" data-name="dataPagamento">Data Pagamento</th>
                  <th class="pointer" scope="col" [appSort]="contribuicoes" data-order="desc" data-name="documento">N. Documento</th>
                  <th class="pointer" scope="col" [appSort]="contribuicoes" data-order="desc" data-name="valor">Valor</th>
                  <th class="pointer" scope="col" [appSort]="contribuicoes" data-order="desc" data-name="endereco">Endereço</th>
                </tr>
              </thead>
            <tbody>
              <tr *ngFor="let item of contribuicoes | paginate: { itemsPerPage: contador, currentPage: pag }">
                <td style="width: 5%" class="textCenter"><div>{{ formatId(item.id, 6) }}</div></td>
                <td style="width: 25%"><div>{{ item.nome }}</div></td>
                <td style="width: 10%" class="textCenter"><div>{{ formatCPF(item.cpf) }}</div></td>
                <td style="width: 10%" class="textCenter"><div>{{ item.dataPagamento }}</div></td>
                <td style="width: 12%" class="textCenter"><div>{{ item.documento }}</div></td>
                <td style="width: 8%" class="text-right"><div>{{ item.valor }}</div></td>
                <td style="width: 30%"><div>{{ item.endereco }}</div></td>
              </tr>
            </tbody>
          </table>
          <!--inclindo o controle de paginação.-->
          <div style="padding: 20px;">
            <div class="text-right">
              <pagination-controls class="pointer" (pageChange)="pageChanged($event)"
                previousLabel="Anterior"
                nextLabel="Próximo">
              </pagination-controls>
            </div>
          </div>

    </section>

   </form>
  </section>
</section>

